body {
    background-color: #E5E5E5;
}

.logo-small {
    display: block;
    padding: 2ex;
}

.logo-medium {
    display: none;
}

.logo-large {
    display: none;
}

textarea {
    margin: 2ex;
    border: 0;
}

.botones {
    margin: 2ex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.boton1 {
    background-color: #0A3871;
    color: #E5E5E5;
    border-radius: 3ex;
    padding: 2ex;
    
}

.boton2 {
    background-color: #E5E5E5;
    color: #0A3871;
    border-radius: 3ex;
    padding: 2ex;
    
}